<ion-view view-title="Current Cart">
  <ion-content ng-controller="CartCtrl">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      quantity
    </div>
    <div class="col">
      price
    </div>
    <div class="col">
      tax
    </div>
    <div class="col">
      total
    </div>
  </div>
    <ul>
      <li ng-repeat="product in products" class="item item-thumbnail-left">
      <img ng-src="{{ product.image }}">
      <h2>{{ product.name }}</h2>
      <h3>{{ product.upc }}</h3>
      <div class="row">
        <div class="col">
          {{ line.quantity }}
        </div>
        <div class="col">
          {{ product.price }}
        </div>
        <div class="col">
          {{ line.tax }}
        </div>
        <div class="col">
          {{ line.total }}
        </div>
      </div>
      </li>
    </ul>
        <div class="row">
          <div class="col">
            <h2>Subtotal</h2>
            <h2>Tax</h2>
            <h2>Total due:</h2>
          </div>
          <div class="col">
            <h2>subtotal</h2>
            <h2>tax total</h2>
            <h1>cart total</h1>
          </div>
        </div>
        <div class="row">
              <button class="button button-full button-positive icon-left ion-card">
                Pay with Credit Card
              </button>
        </div>
        <div class="row">
              <button class="button button-full button-balanced icon-left ion-cash">
                Pay with Cash
              </button>
        </div>
  </ion-content>
</ion-view>
