<ion-view view-title="Manhattan Store - Cart">
  <ion-content ng-controller="CartCtrl">
  <div class="cart" ng-hide="lines.length">
    Please Search/Scan an Item to begin.
  </div>
  <div class="cart" ng-show="lines.length">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      quantity
    </div>
    <div class="col">
      price
    </div>
    <div class="col">
      tax
    </div>
    <div class="col">
      total
    </div>
  </div>
    <ul>
      <li ng-repeat="line in lines" class="item item-thumbnail-left">
      <img ng-src="{{ line.productImage }}">
      <h2>{{ line.product.name }}</h2>
      <h3>{{ line.product.upc }}</h3>
      <div class="row">
        <div class="col">
          {{ line.quantity }}
        </div>
        <div class="col">
          {{ line.product.price }}
        </div>
        <div class="col">
          {{ line.tax }}
        </div>
        <div class="col">
          {{ line.total }}
        </div>
      </div>
      </li>
    </ul>
        <div class="row">
          <div class="col">
            <h3>Subtotal:</h3>
            <h3>Tax:</h3>
            <h3>Total due:</h3>
          </div>
          <div class="col">
            <h3 style="text-align:right" ng-bind="totals.subTotal"></h3>
            <h3 style="text-align:right" ng-bind="totals.taxes"></h3>
            <h3 style="text-align:right" ng-bind="totals.total"></h3>
          </div>
        </div>
        <div class="row">
              <button class="button button-full button-positive icon-left ion-card">
                Pay with Credit Card
              </button>
        </div>
        <div class="row">
              <button class="button button-full button-balanced icon-left ion-cash">
                Pay with Cash
              </button>
        </div>
     </div>
  </ion-content>
</ion-view>
